@import url('https://fonts.googleapis.com/css?family=Khula:700');


.console-body {
    
}

.hidden {
    opacity: 0;
}

.console-container {
    position: absolute;
    top: 0;
    transform: translateY(865%);
    
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: oblique;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 42px;
    margin-top: 4px;
    color: #0c1957;
    text-shadow: 2px 2px 4px white;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}