@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Major+Mono+Display&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Adamina&display=swap');

.info_panel {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.file_info {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.files_grid {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.files_grid_button {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: bold;
    font-style: normal;

}

.user_title {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.files_grid_button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    border: 0px solid transparent;
    cursor: pointer;
    border-radius: 12px;
    border-style: solid;
    background-color: #1976d2;
    width: 60%;
    font-size: 18px;
    transition: background-color 0.4s ease-in-out;
    padding: 3px;
}

.files_grid_button:hover {
    background-color: #0a236780;
}

.dragActiveOverlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 30%;
    width: 40%;
    height: 100%;
    background-color: rgba(222, 222, 222, 0.6);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Initially hidden */
    border-radius: 20px;
    animation: showOverlay 0.4s ease-in-out forwards;
}

@keyframes showOverlay {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 2;
    }
}