.container {
    width: fit-content;
    gap: 10px
}

.folder {
    width: min-content;
    margin: auto;
    animation: float 2s infinite linear;
}

.folder .top {
    border-style: solid;
    border-radius: 0.1rem;
    border-width: 0.1rem;
    border-color: #63b4ff;
    background-color: #3081ec;
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
}

.folder .bottom {
    background-color: #63b4ff;
    width: 130px;
    height: 90px;
    box-shadow: 5px 5px 0 0 #283149;
    border-top-right-radius: 8px;
}

.container .title {
    font-size: 1.9em;
    color: #283149;
    text-align: center;
    margin-top: 15px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-25px);
    }

    100% {
        transform: translatey(0px);
    }
}