@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Major+Mono+Display&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.centered {
    background-color: #3b92beb2;
    border-radius: 12px;
    border: 5px solid;
    width: 80%;
    border-color: #1b455a;
    padding: 20px;
}

.title {
    /* -webkit-text-stroke: 1px #7579a8; */
    /* font-family: "Major Mono Display", serif; */
    font-family: "Inter Tight", sans-serif;
    color: white;
    text-shadow: 0px 4px 4px black;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    margin-bottom: 10px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.username {
    text-shadow: 0px 7px 7px black;
    padding: 2px;
    font-family: "Inter Tight", sans-serif;
    margin: 2px;
    text-align: center;
    font-size: 42px;
    color: white;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.paragrph {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    font-size: 20px;
    color: black;
    padding: 2px;
    margin: 10px;
}