# front end ignores
./js/frontend/node_modules
./js/frontend/.DS_Store
./js/frontend/.env.local
./js/frontend/.env.development.local
./js/frontend/.env.test.local
./js/frontend/.env.production.local

# back end ignores
./js/backend/node_modules